@using QFeedmill.Shared.Models.Dto.Feed;
@model IEnumerable<FeedDto>;

@{
    ViewData["Title"] = "Feeds";
    var i = 0;
}

<div class="col-md-10">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Phase</th>
                <th scope="col">FeedCategoryName</th>
                <th scope="col">Kilogram</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>


@if (Model?.Any() ?? false)
{
    var index = 1;
    foreach (var item in Model)
    {
        <tr>
            <th scope="row">@index</th>
            <td>@item.Phase</td>
            <td>@item.FeedCategoryName</td>
            <td>@item.Kilogram</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>

            <td>
                <a asp-controller="Feed" asp-action="FeedDetail"
                   asp-route-id="@item.Id" class="btn btn-outline-info">Detail</a>
                <button asp-controller="Feed" asp-action="DeleteFeed" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</button>
            </td>           
        </tr>
        index++;
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">No Record Found</td>
    </tr>
}

    </table>
</div>